# Ignore everything
*


# But not these files...
!.git
!.gitignore
!README.md
!TODO.rst
!bashrc/
!dotfiles/*
!misc/
!ssh/
!vimrc/**
!vimrc.local/
!nvim/**

!*/
!vimrc/autoload/plug.vim
**/.DS_Store

#backup/
